<div class='search'>
  <form [formGroup]='form'>
    <input formControlName='search' type='text' class='form-control' placeholder='Search for a movie...' />
    <ng-container *ngIf='loading'><img class='loading-indicator' src='/assets/graphics/loaders/button-spinner.svg'></ng-container>
    <button *ngIf='!loading' class='btn btn-primary' [disabled]='form.invalid' (click)='submitForm()'>
      Search
    </button>
  </form>

</div>

<ng-container *ngIf='!loading && totalResults > 0'>
  <div class='movie-year-selector'>

    <div *ngFor='let year of yearsForFilter' class='year btn btn-sm no-border-radius' [ngClass]='{"btn-primary": year == activeYear}' (click)='activeYear = year'>
      {{year}}'s
    </div>
    <!-- <div class='year btn btn-primary btn-sm'>
      2000's
    </div>
    <div class='year btn btn-sm'>
      1990's
    </div> -->
  </div>

  <div class='movies-container'>
    <app-movie-card *ngFor='let OMDBMovie of movieSearchResult.Search | decadeFilter:activeYear' [OMDBMovie]='OMDBMovie'></app-movie-card>
  </div>
</ng-container>


<div class='no-results' *ngIf='!loading && totalResults == 0'>
  No Results Found
</div>
