// browser compatibility on this isn't going to be perfect, would need more formats of the font

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('trueType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Bold.ttf') format('trueType');
  font-weight: 700;
  font-style: normal;
}
