// colors

$white: #fff;
$black: #000;

$primaryColor: #1a72B0;
$secondaryColor: #F9B44A;

$gray1: #808080;
$gray2: #e8eBee;
$gray3: #303436;
$gray4: #c2cad0;
$gray5:#979797;
$gray6: #8d989e;
$gray7: #61696e;
$gray8: #e8ebee;




// Assessment Note: I'm not using these, but for a larger site it might be worth having more specific variable styles to help with maintainability

$primaryButtonBorderGray: $gray1; // this is probably overkill but it's sometimes nice in a larger site to have more specific variables
$h4Color: $gray3;
